.divFormulario {
    background: #ffffff;
    height: 180px;
    padding: 40px;
    margin: 55px 2%;
}

.divFormulario input {
    background: #f2f2f2;
    border: 4px #f2f2f2 solid;
    width: 100%;
}

.divFormulario select {
    background: #f2f2f2;
    border: 4px #f2f2f2 solid;
    width: 100%;
    color: #777777;
}

.divFormulario input[type="radio"] {
    background: #f2f2f2;
    border: 4px #f2f2f2 solid;
    width: 15px;
}

.divInput {
    background: #ffffff;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}

.divCampos {
    width: 100%;
}

.button {
    background: #008080;
    color: #ffffff;
    border: 0;
    padding: 5px 50px;
}

.divTitulo {
    height: 25px;
    margin: 5px 2%;
    color: #008080;
}

.divDados {
    background: #ffffff;
    height: 220px;
    padding: 40px;
    margin: 5px 2%;
}

th {
    border-bottom: 2px #aba7a7 solid;
    padding-bottom: 10px;
}

tr, td {
    border-bottom: 1px #cccccc solid;
    padding: 10px 0px;
}